.headerContainer {
  display:flex;
  flex-direction:column;
  flex-wrap:nowrap;
  align-items:center;
  justify-content:space-evenly;
  background-color:var(--blue);
  color:var(--blue-red);

  left: 0;
  top: 0;
  width: 100%;

  border-bottom:3px solid black;
}

.headerTitle {
  /* solution provided by https://stackoverflow.com/users/287047/kyle */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.headerParagraph {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}